<library path="libdriveline_urc_hw.so">
  <class name="driveline_urc/DrivelineHardware"
         type="driveline_urc::DrivelineHardware"
         base_class_type="hardware_interface::SystemInterface">

    <description>
      shut up i will be written soon hopefully
    </description>
  </class>
</library>
