[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "libs/pigpio"]
	path = libs/pigpio
	url = https://github.com/joan2937/pigpio.git
