<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover_arm">
    <ros2_control name="ArmHardware" type="system">
        <hardware>
            <plugin>driveline_urc/DrivelineHardware</plugin>
        </hardware>
        <joint name="base_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="shoulder_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="elbow_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="wrist_roll_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="wrist_pitch_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="wrist_yaw_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>
</robot>